<div>
  <div class="barButton">{{common.getUserMail()}}</div>
  <button routerLink="/coachlist" mat-button class="barButton" (click)="toggleSide()">
   Coach
 </button>
 <button routerLink="/feedbackList" mat-button *ngIf="common.isAuthenticated()" class="barButton" (click)="toggleSide()">
   Feedback
 </button>
 <button routerLink="/login" mat-button *ngIf="!common.isAuthenticated()" class="barButton" (click)="toggleSide()">
   Login
 </button>
 <button (click)="logMeOut();toggleSide()" mat-button *ngIf="common.isAuthenticated()" class="barButton">
   Logout
 </button>
</div>